<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    
    
    <!-- jquery plugins here-->
    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/js/mixitup.min.js"></script>
    <!-- particles js -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/"> <img src="../img/amalogo.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>                                
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/signup">Sign Up</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        product
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="/product"> Product List</a>                           
                                        <a class="dropdown-item" href="/login/cart">Shopping Cart</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex align-items-center">
                            <a id="search_1" href="/product"><i class="ti-search"></i></a>
                            <a href="/login/cart">
                                <i class="flaticon-shopping-cart-black-shape"></i>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
       
    </header>
    <!-- Header part end-->

    </section>
    <!-- subscribe part end -->

    <main>
        {{{body}}}
    </main>
  
        <footer class="footer">


<div class="navFooterLine navFooterLinkLine navFooterDescLine" id="navFooter">
    <table class="navFooterMoreOnAmazon" cellspacing="0">
        <tbody>
            <tr>
            <td class="navFooterDescItem"><a href="https://music.amazon.ca?ref=dm_aff_amz_ca" class="nav_a">Amazon Music<br> <span class="navFooterDescText">Stream millions<br> of songs</span></a></td>
            <td class="navFooterDescSpacer" style="width: 4%"></td>
            <td class="navFooterDescItem"><a href="https://advertising.amazon.ca/?ref=footer_advtsing_amzn_ca" class="nav_a">Amazon Advertising<br> <span class="navFooterDescText">Find, attract, and<br> engage customers</span></a></td>
            <td class="navFooterDescSpacer" style="width: 4%"></td>
            <td class="navFooterDescItem"><a href="/" class="nav_a">Amazon Drive<br> <span class="navFooterDescText">Cloud storage<br> from Amazon</span></a></td>
            <td class="navFooterDescSpacer" style="width: 4%"></td>
            <td class="navFooterDescItem"><a href="https://aws.amazon.com/what-is-cloud-computing/?sc_channel=EL&amp;sc_campaign=CA_amazonfooter" class="nav_a">Amazon Web Services<br> <span class="navFooterDescText">Scalable Cloud<br> Computing Services</span></a></td>
            <td class="navFooterDescSpacer" style="width: 4%"></td>
            <td class="navFooterDescItem"><a href="https://www.bookdepository.com/" class="nav_a">Book Depository<br> <span class="navFooterDescText">Books With Free<br> Delivery Worldwide</span></a></td>
            </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="navFooterDescItem"><a href="https://www.goodreads.com/" class="nav_a">Goodreads<br> <span class="navFooterDescText">Book reviews<br> &amp; recommendations</span></a></td>
            <td class="navFooterDescSpacer" style="width: 4%"></td>
            <td class="navFooterDescItem"><a href="https://www.imdb.com/" class="nav_a">IMDb<br> <span class="navFooterDescText">Movies, TV<br> &amp; Celebrities</span></a></td>
            <td class="navFooterDescSpacer" style="width: 4%"></td>
            <td class="navFooterDescItem"><a href="/" class="nav_a">Amazon Photos<br> <span class="navFooterDescText">Unlimited Photo Storage<br> Free With Prime</span></a></td>
            <td class="navFooterDescSpacer" style="width: 4%"></td>
            <td class="navFooterDescItem"><a href="https://www.shopbop.com/ca/welcome" class="nav_a">Shopbop<br> <span class="navFooterDescText">Designer<br> Fashion Brands</span></a></td>
            <td class="navFooterDescSpacer" style="width: 4%"></td>
            <td class="navFooterDescItem"><a href="/" class="nav_a">Warehouse Deals<br> <span class="navFooterDescText">Open-Box<br> Discounts</span></a></td>
        </tr>
        <tr><td>&nbsp;</td>
        </tr>
        <tr>
            <td class="navFooterDescItem">&nbsp;</td>
            <td class="navFooterDescSpacer" style="width: 4%"></td>
            <td class="navFooterDescItem"><a href="https://www.wholefoodsmarket.com" class="nav_a">Whole Foods Market<br> <span class="navFooterDescText">We Believe in<br> Real Food</span></a></td>
            <td class="navFooterDescSpacer" style="width: 4%"></td>
            <td class="navFooterDescItem"><a href="/" class="nav_a">Amazon Renewed<br> <span class="navFooterDescText">Like-new products<br> you can trust</span></a></td>
            <td class="navFooterDescSpacer" style="width: 4%"></td>
            <td class="navFooterDescItem"><a href="/amazonsecondchance?_encoding=UTF8&amp;ref_=footer_asc" class="nav_a">Amazon Second Chance<br> <span class="navFooterDescText">Pass it on, trade it in,<br> give it a second life</span></a></td>
            <td class="navFooterDescSpacer" style="width: 4%"></td>
            <td class="navFooterDescItem">&nbsp;</td>
        </tr>
    </tbody>
    </table>

    <div class="navFooterLine navFooterLinkLine navFooterPadItemLine navFooterCopyright">
        <ul>
            <li class="nav_first">
                <a href="/" class="nav_a">Conditions of Use</a></li>
            <li>
                <a href="/" class="nav_a">Privacy Notice</a></li>
            <li class="nav_last"><a href="/" class="nav_a">Interest-Based Ads</a></li>
        </ul><span style="padding-left: 35px;"> Thi Phuong Hoa Nguyen 2020, Fake Amazon.com for Assignment web322, theme/css - bootstrap inspired by colorlib (education purpose)</span>
        <ul></ul>
    </div>

</div>
   
</footer>
</body>
</html>